<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Chấm công"
            sequence="0"/>
          
        <menuitem name="Bảng chấm công" 
            id="menu_bang_cham_cong" 
            parent="menu_root" 
            sequence="1"
            action="action_bang_cham_cong"
        />

    </data>
</odoo>
